{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>College Enquiry ChatBot</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "css/templatemo-edu-meeting.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.css" %}">
    <link rel="stylesheet" href="{% static "css/lightbox.css" %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
 

   

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'css/animate.min.css' %}  " rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<style>

    img{
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 1500px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    
</style>
</head>

<body>
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-8">
              
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="right-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="page1" class="logo">
                            College Enquiry ChatBot
                          </a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                              <li><a href="#about">About</a></li>
                              <li><a href="#register">Registration</a></li>
                              <li><a href="#log">Log In</a></li>

                          </ul>        
                         
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ***** Header Area End ***** -->
    
     <!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <!-- Replace video with image -->
    <img src="{% static "front.gif" %}" alt="Background Image" class="img-fluid" id="bg-image" style="height:600px;">

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>Hello Students</h6>
                        <h2 style="padding-top:500px;">Welcome to College Enquiry ChatBot</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="our-facts" id="about">
  <div class="container">
    <div class="row">
        <!-- Image Column -->
      
        <!-- Content Column -->
        <div class="col-lg-6">
            <div class="section-heading">
                <h2 style="font-size: 20px;"></h2>
            </div>
            <center><h2 style="font-size: 50px; text-align:center;">ABOUT</h2></center>
        </div>

    </div>
</div>


<!-- ***** Footer Start ***** -->
         <!-- About Start -->
         <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5 align-items-center">
                  <div class="col-lg-5">
                    <img src="{% static "college.jpeg" %}" alt="Side Image" class="img-fluid transparent-bg" style="margin-left: 100px; height: 300px; width: 300px; background: none;">
                </div>
                    <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s" style="color:white;">
                      <p class="mb-4" align="justify" style="color:white;">  
                       Sipna Shikshan Prasarak Mandal, established in the year 1995, aims to impart higher & technical education to the enthusiastic youths and envision them for a better tomorrow.
					  The College Since its inception, SSPM has been successfully running undergraduate and postgraduate courses in emerging areas through Sipna’s Arts, Science & Commerce college, Chikhaldara and Sipna College of Engineering & Technology, Amravati, affiliated to Sant Gadge Baba Amravati University, Amravati. We have already marched towards various Postgraduate, Management and Research Programs.
                      </p>
                    </div>                    
                       
                       
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About End -->

      <section class="our-facts" id="">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <h2>A Few Facts About Our University</h2>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <div class="count-area-content percentage">
                        <div class="count-digit">94</div>
                        <div class="count-title">Succesed Students</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="count-area-content">
                        <div class="count-digit">126</div>
                        <div class="count-title">Current Teachers</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <div class="count-area-content new-students">
                        <div class="count-digit">2345</div>
                        <div class="count-title">New Students</div>
                      </div>
                    </div> 
                    <div class="col-12">
                      <div class="count-area-content">
                        <div class="count-digit">32</div>
                        <div class="count-title">Awards</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank">
                        <img src="{% static 'images/play-icon.png' %}" alt="" style="height:0px; width:0px;">
                    </a>
                </div>
            </div>
          </div>
        </div>
      </section>


      

              <section class="contact-us" id="register">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 align-self-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="contact" action="doregister" method="post">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Let's get in touch</h2>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset>
                                                    <input name="username" type="text" id="username" placeholder="YOURNAME...*" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset>
                                                    <input name="contact" type="text" id="contact" placeholder="YOUR CONTACT...." required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset>
                                                    <input name="password" type="password" id="password" placeholder="PASSWORD" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="button">LOG IN NOW</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <!-- Replace the existing content with the image -->
                                <img src="{% static "hi.gif" %}" alt="Contact Image" class="img-fluid" style="height:400px; background: none;">
                            </div>
                        </div>
                    </div>
                  </section>
                  
              
              
              
              <br><br><br><br>
              <section class="contact-us" id="log">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Place the image on the left side -->
                            <img src="{% static "bot4.gif" %}" alt="Contact Image" class="img-fluid" style="height:400px; background: none; width:500px;">
                        </div>
              
                        <div class="col-lg-9 align-self-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="contact" action="dologin" method="post">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>LETS GET IN TOUCH</h2>
                                            </div>
                              <div class="col-lg-4">
                                  <fieldset>
                                      <input name="username" type="text" id="username" placeholder="ENTER EMAIL ADDRESS..." required>
                                  </fieldset>
                              </div>
                              <div class="col-lg-4">
                                  <fieldset>
                                      <input name="password" type="password" id="password" placeholder="PASSWORD" required>
                                  </fieldset>
                              </div>
                              <div class="col-lg-12">
                                  <fieldset>
                                      <button type="submit" id="form-submit" class="button">SUBMIT</button>
                                  </fieldset>
                              </div>
                          </div>
                      </form>
                    </div>
                  </div>
              </div>
              </div>
              </div>
              </section>
              
              
              

     
    
      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    
        <script src="{% static "js/isotope.min.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/lightbox.js" %}"></script>
        <script src="{% static "js/tabs.js" %}"></script>
        <script src="{% static "js/video.js" %}"></script>
        <script src="{% static "js/slick-slider.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>
        <script>
            //according to loftblog tut
            $('.nav li:first').addClass('active');
    
            var showSection = function showSection(section, isAnimate) {
              var
              direction = section.replace(/#/, ''),
              reqSection = $('.section').filter('[data-section="' + direction + '"]'),
              reqSectionPos = reqSection.offset().top - 0;
    
              if (isAnimate) {
                $('body, html').animate({
                  scrollTop: reqSectionPos },
                800);
              } else {
                $('body, html').scrollTop(reqSectionPos);
              }
    
            };
    
            var checkSection = function checkSection() {
              $('.section').each(function () {
                var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                  var
                  currentId = $this.data('section'),
                  reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                  reqLink.closest('li').addClass('active').
                  siblings().removeClass('active');
                }
              });
            };
    
            $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
              e.preventDefault();
              showSection($(this).attr('href'), true);
            });
    
            $(window).scroll(function () {
              checkSection();
            });
        </script>
    </body>
    
    
    </html>